---
layout: default
---

    <div class="post{% if page.cssclass %} {{ page.cssclass | join: ' ' }}{% endif %}">

      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-line"></div>
      <div class="post-info">
        <span>Written by</span>
        {% if page.author %}
            {{ page.author }}
        {% else %}
            {{ site.author.name }}
        {% endif %}

        {% if page.date %}
          <br>
          <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%Y/%m/%d" }}</time>
        {% endif %}
      </div>
      {{ content }}
    </div>

    {% if page.comments %}
      {% include disqus_comments.html %}
    {% endif %}

    <div class="pagination">
      {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
      {% endif %}
      {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
      {% endif %}

      <a href="#" class="top">Top</a>
    </div>
    <script type="text/javascript">
$("main .post p").each(function(){
  var str = $(this).html()
  var regex1 = /!\[\[([^\|]*)\|([\d\.\%x]*)\s?(\"(.*)\")?\]\]/gm;
  var subst1 = `<img src="{% if page.imgurl %}{{ page.imgurl }}{% endif %}$1" width="$2" />`;
  var subst2 = `<img src="{% if page.imgurl %}{{ page.imgurl }}{% endif %}$1" />`;
  var regex2 = /!\[\[([^\|]*)\]\]/gm;
  if ( regex1.test(str) ) {
      $(this).html( str.replace(regex1, subst1) );
  } else if ( regex2.test(str) ) {
      $(this).html( str.replace(regex2, subst2) );
  }
})
    </script>