---
layout: default
---
  <link href="assets/css/remarkjs.css" rel="stylesheet">

    <div class="post{% if page.cssclass %} {{ page.cssclass | join: ' ' }}{% endif %}">
      <div class="post-info" style="display: none;">
        <span>Written by</span>
        {% if page.author %}
            {{ page.author }}
        {% else %}
            {{ site.author.name }}
        {% endif %}

        {% if page.date %}
          <br>
          <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        {% endif %}
      </div>

      <h1 class="post-title" style="display: none;">{{ page.title }}</h1>
      <div class="post-line" style="display: none;"></div>

      <textarea id="source">
        name: inverse
        layout: true
        class: center, middle, inverse
        ---
        #remark
        [ri-mahrk]
        .footnote[Go directly to [project site](https://github.com/gnab/remark)]
        ---
        
        template: inverse
        
        ## Of course, Markdown can only go so far.
        ---
        .left-column[
          ## Markdown extensions
        ]
        .right-column[
        To help out with slide layout and formatting, a few Markdown extensions have been included:
        
        - Slide properties, for naming, styling and templating slides
        
        - Content classes, for styling specific content
        
        - Syntax highlighting, supporting a range of languages
        ]
        
        </textarea>
      {{ content }}
    </div>

    <div class="pagination" style="display: none;">
      {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
      {% endif %}
      {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
      {% endif %}

    </div>

    <script src="assets/js/remarkjs.min.js"></script>
    <script src="assets/js/remarkjs.language.js"></script>
    <script>
      var hljs = remark.highlighter.engine;
      var slideshow = remark.create({
        highlightStyle: 'monokai',
        highlightLanguage: 'remark',
        highlightLines: true
      }) ;
    </script>